<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <title><%= current_page.data.title || t(:name, scope: :minifast) %></title>
    <link rel='stylesheet' href='//use.typekit.net/zhh0qyl.css'>
    <%= stylesheet_link_tag 'site' %>
  </head>
  <body class="<%= page_classes %>">
    <main role='main'><%= yield %></main>
    <%= google_analytics_tag if build? %>
  </body>
</html>
