<%- set_meta_tags description: t(:description, scope: :minifast), keywords: t(:keywords, scope: :minifast), twitter_author: t(:account, scope: [:minifast, :twitter]), publisher_twitter: t(:account, scope: [:minifast, :twitter]), pull_image: asset_url('images/photoshoot/office.jpg') -%>
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-180x180-precomposed.png' sizes='180x180' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-152x152-precomposed.png' sizes='152x152' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-144x144-precomposed.png' sizes='144x144' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-120x120-precomposed.png' sizes='120x120' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-114x114-precomposed.png' sizes='114x114' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-76x76-precomposed.png' sizes='76x76' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-72x72-precomposed.png' sizes='72x72' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-60x60-precomposed.png' sizes='60x60' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-57x57-precomposed.png' sizes='57x57' />
    <link rel='apple-touch-icon' href='/apple-touch-icon-precomposed.png'>
    <link rel='apple-touch-icon' href='/apple-touch-icon.png'>
    <link rel='shortcut icon' href='/favicon-196x196.png' sizes='196x196' />
    <link rel='shortcut icon' href='/favicon-160x160.png' sizes='160x160' />
    <link rel='shortcut icon' href='/favicon-96x96.png' sizes='96x96' />
    <link rel='shortcut icon' href='/favicon-32x32.png' sizes='32x32' />
    <link rel='shortcut icon' href='/favicon-16x16.png' sizes='16x16' />
    <link rel='shortcut icon' href='/favicon.png'>
    <link href='/mstile-70x70.png' sizes='70x70' />
    <link href='/mstile-144x144.png' sizes='144x144' />
    <link href='/mstile-150x150.png' sizes='150x150' />
    <link href='/mstile-310x310.png' sizes='310x310' />
    <link href='/mstile-310x150.png' sizes='310x150' />
    <link rel='icon' type='image/ico' href='/favicon.ico' />
    <link rel='stylesheet' href='//use.typekit.net/zhh0qyl.css'>
    <%= stylesheet_link_tag 'site' %>
    <%= auto_display_meta_tags %>
  </head>
  <body class="<%= page_classes %>">
    <header><%= partial 'partials/header' %></header>
    <main role='main'><%= yield %></main>
    <footer><%= partial 'partials/footer' %></footer>
    <%= javascript_include_tag 'site' %>
    <%= google_analytics_tag if build? %>
  </body>
</html>
