<section class='minifast-contact'>
  <section class='minifast-contact__description'>
    <h2 class='minifast-contact__title'><%= t(:title, scope: [:partials, :contact]) %></h2>
    <p class='minifast-contact__subtitle'><%= t(:description, scope: [:partials, :contact]) %></p>
  </section>
  <section class='minifast-contact__container'>
    <form class='minifast-contact__form' action='<%= config[:contact_form_url] %>' method='POST'>
      <article class='minifast-contact__field'>
        <input class='minifast-contact__field-input' type='text' autocomplete='name' name='<%= config[:contact_name_id] %>' required placeholder='<%= t(:name, scope: [:partials, :contact]) %>' aria-label='<%= t(:name, scope: [:partials, :contact]) %>' />
        <div class='minifast-contact__field-line'></div>
      </article>
      <article class='minifast-contact__field'>
        <input class='minifast-contact__field-input' type='email' autocomplete='email' name='emailAddress' required placeholder='<%= t(:email, scope: [:partials, :contact]) %>' aria-label='<%= t(:email, scope: [:partials, :contact]) %>' />
        <div class='minifast-contact__field-line'></div>
      </article>
      <article class='minifast-contact__field'>
        <select class='minifast-contact__select-input' name='<%= config[:contact_subject_id] %>' required aria-label='<%= t(:subject, scope: [:partials, :contact]) %>'>
          <option value='' disabled selected hidden><%= t(:subject, scope: [:partials, :contact]) %></option>
          <% t(:subjects, scope: [:partials, :contact]).each do |subject| %>
            <option><%= subject %></option>
          <% end %>
        </select>
        <div class='minifast-contact__field-line'></div>
      </article>
      <button class='minifast-contact__submit'>
        <span class='minifast-contact__submit-text'><%= t(:submit, scope: [:partials, :contact]) %></span>
        <div class='minifast-contact__submit-bar'></div>
      </button>
    </form>
  </section>
</section>
