<section class='minifast-dialogue'>
  <section class='minifast-dialogue__description'>
    <%= partial 'partials/inline_svg', locals: {path: 'images/dialogue/caret.svg', image_class: 'minifast-dialogue__caret'} %>
    <h2 class='minifast-dialogue__title'><%= t(:title, scope: [:partials, :dialogue]) %></h2>
    <p class='minifast-dialogue__subtitle'><%= t(:description, scope: [:partials, :dialogue]) %></p>
  </section>
  <section class='minifast-dialogue__questions'>
    <fieldset class='minifast-dialogue__fieldset'>
      <legend class='minifast-dialogue__legend'><%= t(:legend, scope: [:partials, :dialogue]) %></legend>
      <% t(:tabs, scope: [:partials, :dialogue]).each do |(key, tab)| %>
        <input type='radio' name='minifast-dialogue__tab' id='minifast-dialogue__tab--<%= key %>' class='minifast-dialogue__input' <%= key == t(:tabs, scope: [:partials, :dialogue]).keys.first ? 'checked' :'' -%>>
        <section class='minifast-dialogue__container'>
          <label for='minifast-dialogue__tab--<%= key %>' class='minifast-dialogue__tab-label'>
            <%= tab[:title] %>
          </label>
          <section class='minifast-dialogue__tab'>
            <article class='minifast-dialogue__tab-content'>
              <h3 class='minifast-dialogue__heading'><%= tab[:subtitle] %></h3>
              <ul class='minifast-dialogue__paragraphs'>
              <% tab[:paragraphs].each do |paragraph| %>
                <li class='minifast-dialogue__paragraph'><%= paragraph %></li>
              <% end %>
              </ul>
            </article>
          </section>
        </section>
      <% end %>
    </fieldset>
  </section>
  <section class='minifast-dialogue__contact'>
    <form class='minifast-dialogue__form' action='<%= config[:contact_form_url] %>' method='POST'>
      <article class='minifast-dialogue__field'>
        <input class='minifast-dialogue__field-input' type='text' name='<%= config[:contact_subject_id] %>' required placeholder='<%= t(:question, scope: [:partials, :dialogue]) %>' aria-label='<%= t(:question, scope: [:partials, :dialogue]) %>' />
        <div class='minifast-dialogue__field-line'></div>
      </article>
      <article class='minifast-dialogue__field'>
        <input class='minifast-dialogue__field-input' type='email' autocomplete='email' name='emailAddress' required placeholder='<%= t(:email, scope: [:partials, :dialogue]) %>' aria-label='<%= t(:email, scope: [:partials, :dialogue]) %>' />
        <div class='minifast-dialogue__field-line'></div>
      </article>
      <button class='minifast-dialogue__submit'>
        <span class='minifast-dialogue__submit-text'><%= t(:submit, scope: [:partials, :dialogue]) %></span>
        <div class='minifast-dialogue__submit-bar'></div>
      </button>
    </form>
  </section>
</section>
