<div class='minifast-header'>
  <div class='minifast-header__container'>
    <h1 class='minifast-header__title'>
      <% link_to '/', class: 'minifast-header__link minifast-header__link--title', title: t(:name, scope: :minifast) do %>
        <%= partial 'partials/inline_svg', locals: {path: 'images/logos/full.svg', image_class: 'minifast-header__logo minifast-header__logo--large'} %>
        <%= partial 'partials/inline_svg', locals: {path: 'images/logos/horizontal.svg', image_class: 'minifast-header__logo minifast-header__logo--small'} %>
      <% end %>
    </h1>
    <input type='checkbox' id='minifast-header__navigation-toggle-input' class='minifast-header__navigation-toggle-input' aria-label='<%= t(:toggle_menu, scope: [:partials, :header]) %>' />
    <label class='minifast-header__navigation-toggle' for='minifast-header__navigation-toggle-input'>
      <span class='minifast-header__navigation-toggle-bar minifast-header__navigation-toggle-bar--top'></span>
      <span class='minifast-header__navigation-toggle-bar minifast-header__navigation-toggle-bar--bottom'></span>
    </label>
    <nav class='minifast-header__navigation'>
      <%= link_to t(:process, scope: [:partials, :header]), '/process', class: 'minifast-header__link' %>
      <%= link_to t(:team, scope: [:partials, :header]), '/team', class: 'minifast-header__link' %>
      <%= link_to t(:work, scope: [:partials, :header]), '/work', class: 'minifast-header__link' %>
      <%= link_to t(:careers, scope: [:partials, :header]), '/careers', class: 'minifast-header__link' %>
      <%= link_to t(:contact, scope: [:partials, :header]), '/contact', class: 'minifast-header__link' %>
    </nav>
  </div>
</div>
