<section class='minifast-hero'>
  <article class='minifast-hero__slide'>
    <section class='minifast-hero__section minifast-hero__section--left minifast-hero__section--cream'>
      <div class='minifast-hero__container minifast-hero__container--left'><h2 class='minifast-hero__title minifast-hero__title--static minifast-hero__title--left'><%= t(:title, scope: [:partials, :hero]) %></h2></div>
    </section>
    <section class='minifast-hero__section minifast-hero__section--right minifast-hero__section--red'>
      <div class='minifast-hero__container minifast-hero__container--right'><h2 class='minifast-hero__title minifast-hero__title--static minifast-hero__title--right'><%= t(:subtitles, scope: [:partials, :hero])[0] %></h2></div>
    </section>
    <%= partial 'partials/mobile' %>
    <section class='minifast-hero__section minifast-hero__section--animated minifast-hero__section--left'>
      <div class='minifast-hero__container minifast-hero__container--left'>
        <h2 class='minifast-hero__title minifast-hero__title--left'><%= t(:title, scope: [:partials, :hero]) %></h2>
      </div>
    </section>
    <section class='minifast-hero__section minifast-hero__section--animated minifast-hero__section--right'>
      <div class='minifast-hero__container minifast-hero__container--right'>
        <h2 class='minifast-hero__title minifast-hero__title--right'><%= t(:subtitles, scope: [:partials, :hero])[0] %></h2>
      </div>
    </section>
  </article>
</section>
