<section class='minifast-playbooks'>
  <section class='minifast-playbooks__content minifast-playbooks__content--title'>
    <h2 class='minifast-playbooks__title'><%= t(:title, scope: [:partials, :playbooks]) %></h2>
    <p class='minifast-playbooks__subtitle'><%= t(:description, scope: [:partials, :playbooks]) %></p>
  </section>
  <section class='minifast-playbooks__content minifast-playbooks__content--goals'>
    <article class='minifast-playbooks__container minifast-playbooks__container--image minifast-playbooks__container--goals'>
      <%= partial 'partials/inline_svg', locals: {path: 'images/playbooks/goals.svg', image_class: 'minifast-playbooks__image minifast-playbooks__image--goals'} %>
    </article>
    <article class='minifast-playbooks__container minifast-playbooks__container--text'>
      <h3 class='minifast-playbooks__heading'><%= t(:title, scope: [:partials, :playbooks, :goals]) %></h3>
      <p class='minifast-playbooks__text'><%= t(:description, scope: [:partials, :playbooks, :goals]) %></p>
    </article>
  </section>
  <section class='minifast-playbooks__content minifast-playbooks__content--scoping'>
    <article class='minifast-playbooks__container minifast-playbooks__container--image minifast-playbooks__container--scoping'>
      <%= partial 'partials/inline_svg', locals: {path: 'images/playbooks/scoping.svg', image_class: 'minifast-playbooks__image minifast-playbooks__image--scoping'} %>
    </article>
    <article class='minifast-playbooks__container minifast-playbooks__container--text'>
      <h3 class='minifast-playbooks__heading'><%= t(:title, scope: [:partials, :playbooks, :scoping]) %></h3>
      <p class='minifast-playbooks__text'><%= t(:description, scope: [:partials, :playbooks, :scoping]) %></p>
    </article>
  </section>
  <section class='minifast-playbooks__content minifast-playbooks__content--inception'>
    <article class='minifast-playbooks__container minifast-playbooks__container--image minifast-playbooks__container--inception'>
      <%= partial 'partials/inline_svg', locals: {path: 'images/playbooks/inception.svg', image_class: 'minifast-playbooks__image minifast-playbooks__image--inception'} %>
    </article>
    <article class='minifast-playbooks__container minifast-playbooks__container--text'>
      <h3 class='minifast-playbooks__heading'><%= t(:title, scope: [:partials, :playbooks, :inception]) %></h3>
      <p class='minifast-playbooks__text'><%= t(:description, scope: [:partials, :playbooks, :inception]) %></p>
    </article>
  </section>
</section>
