<section class='minifast-process'>
  <section class='minifast-process__content'>
    <h3 class='minifast-process__title'><%= t(:title, scope: [:partials, :process]) %></h3>
    <p class='minifast-process__subtitle'><%= t(:description, scope: [:partials, :process]) %></p>
  </section>
  <section class='minifast-process__container'>
    <section class='minifast-process__steps'>
      <article class='minifast-process__step'>
        <h4><%= t(:title, scope: [:partials, :process, :goals]) %></h4>
        <p><%= t(:description, scope: [:partials, :process, :goals]) %></p>
      </article>
      <article class='minifast-process__step'>
        <h4><%= t(:title, scope: [:partials, :process, :scoping]) %></h4>
        <p><%= t(:description, scope: [:partials, :process, :scoping]) %></p>
      </article>
      <article class='minifast-process__step'>
        <h4><%= t(:title, scope: [:partials, :process, :inception]) %></h4>
        <p><%= t(:description, scope: [:partials, :process, :inception]) %></p>
      </article>
    </section>
    <section class='minifast-process__phases'>
      <article class='minifast-process__phase minifast-process__phase--design'>
        <h4><%= t(:title, scope: [:partials, :process, :design]) %></h4>
        <p><%= t(:description, scope: [:partials, :process, :design]) %></p>
      </article>
      <article class='minifast-process__phase minifast-process__phase--build'>
        <h4><%= t(:title, scope: [:partials, :process, :build]) %></h4>
        <p><%= t(:description, scope: [:partials, :process, :build]) %></p>
      </article>
      <article class='minifast-process__phase minifast-process__phase--retrospective'>
        <h4><%= t(:title, scope: [:partials, :process, :retrospective]) %></h4>
        <p><%= t(:description, scope: [:partials, :process, :retrospective]) %></p>
      </article>
    </section>
  </section>
</section>
