<section class='minifast-team'>
  <section class='minifast-team__description'>
    <h2 class='minifast-team__title'><%= t(:title, scope: [:partials, :team]) %></h2>
    <p class='minifast-team__subtitle'><%= t(:description, scope: [:partials, :team]) %></p>
  </section>
  <section class='minifast-team__members'>
    <% data.team.members.each do |team_member| %>
      <% team_member_image = team_member.image.present? ? asset_url(team_member.image) : asset_url("images/team/no-photo.png") %>
      <article class='minifast-team__member'>
        <figure class='minifast-team__tile'>
          <img class='minifast-team__image minifast-team__image--<%= team_member.image_side %> <%= "minifast-team__image--flip" if team_member.image_flip %>' src='<%= team_member_image %>' alt='<%= team_member.name %>' />
          <figcaption class='minifast-team__caption <%= "minifast-team__caption--no-photo" unless team_member.image %>'>
            <h3 class='minifast-team__handle'><%= team_member.name %></h3>
            <p class='minifast-team__position'><%= team_member.title %></p>
          </figcaption>
        </figure>
      </article>
    <% end %>
  </section>
  <section class='minifast-team__emeritus'>
    <h3 class='minifast-team__dedication'><%= t(:members_emeritus, scope: [:partials, :team]) %></h3>
    <ul class='minifast-team__list'>
    <% data.team.members_emeritus.each do |team_member| %>
      <li class='minifast-team__list-item'>
        <h3 class='minifast-team__handle minifast-team__handle--inline'><%= team_member.name %></h3>, <p class='minifast-team__position minifast-team__position--inline'><%= team_member.title %></p>
      </li>
    <% end %>
    </ul>
  </section>
</section>
