<section class='minifast-team'>
  <section class='minifast-team__content minifast-team__content--description'>
    <h2 class='minifast-team__title minifast-team__title--headline'><%= t(:title, scope: [:partials, :team]) %></h2>
    <p class='minifast-team__subtitle'><%= t(:description, scope: [:partials, :team]) %></p>
  </section>
  <section class='minifast-team__content minifast-team__content--members'>
    <% data.team.members.each do |team_member| %>
      <article class='minifast-team__container'>
        <div class='minifast-team__image-wrapper'>
          <img class='minifast-team__image minifast-team__image--<%= team_member.image_side %>' src='<%= asset_url(team_member.image) %>' alt='<%= team_member.name %>' />
        </div>
        <div class='minifast-team__caption'>
          <h3 class='minifast-team__heading'><%= team_member.name %></h3>
          <p class='minifast-team__description'><%= team_member.title %></p>
        </div>
      </article>
    <% end %>
  </section>
  <section class='minifast-team__content minifast-team__content--members-emeritus'>
    <h3 class='minifast-team__title'><%= t(:members_emeritus, scope: [:partials, :team]) %></h3>
    <ul class='minifast-team__list'>
    <% data.team.members_emeritus.each do |team_member| %>
      <li class='minifast-team__list-item'>
        <h3 class='minifast-team__heading minifast-team__heading--inline'><%= team_member.name %></h3>, <p class='minifast-team__description minifast-team__description--inline'><%= team_member.title %></p>
      </li>
    <% end %>
    </ul>
  </section>
</section>
