<header role="banner">
  <div class="wrapper">
    <% link_to '/', class: 'mobile-logo' do %>
      <%= image_tag 'logos/logo.png', srcset: "#{image_path('logos/logo@2x.png')} 2x, #{image_path('logos/logo@3x.png')} 3x" %>
    <% end %>
    <input type="checkbox" id="show-mobile-menu">
    <label for="show-mobile-menu"><span class="open">Menu</span><span class="close">&times;</span></label>
    <nav role="navigation">
      <ul>
        <li><%= link_to 'About', '/about/' %></li>
        <li><%= link_to 'Team', '/team/' %></li>
        <li class="logo">
          <% link_to '/' do %>
            <%= image_tag 'logos/logo.png', srcset: "#{image_path('logos/logo@2x.png')} 2x, #{image_path('logos/logo@3x.png')} 3x" %>
          <% end %>
        </li>
        <li><%= link_to 'Blog', '//blog.ministryofvelocity.com/' %></li>
        <li><%= link_to 'Contact', '/contact/' %></li>
      </ul>
    </nav>
  </div>
</header>
