<% data.team.members.each.with_index do |member, index| -%>
<section class="person <%= index.even? ? 'even' : 'odd' %>">
  <header><%= image_tag member.image, alt: member.name %></header>
  <article>
    <h1>
      <span class="name"><%= member.name %>,</span>
      <span class="title"><%= member.title %></span>
    </h1>
    <h2>
      <% if member.email -%>
        <span>E <%= link_to member.email, "mailto:#{member.email}" %></span>
      <% end -%>
      <% if member.twitter -%>
        <span>T <%= link_to "@#{member.twitter}", "https://twitter.com/#{member.twitter}" %></span>
      <% end -%>
    </h2>
    <p><%= member.story %></p>
  </article>
</section>
<% end -%>
